body{
    background-image: linear-gradient(to right, #3866F2, #C225FF);
}
p{
    margin: 5px;
}
header{
    text-align: center;
}
a:link 
{ 
 text-decoration:none; 
} 
main{
    text-align: center;
}
#rodape {   
    font-size: 13px;
    text-align: center;
    width: 99%;
    right: 10px;
    height: 4em;
    top: 100%;  
    bottom: 0;  
}
.git {
    position: absolute;
    width: 15px;
    transition: 0.8s;
}
.git:hover {
    opacity: 0;
}  
.msg{
    background-color: #AEB2F2;
    border-radius: 0em 1em;
    border-color: rgba(0, 0, 0, 0.47);
    border-width: 2px;
}
#case{
text-align: left;
margin-left: 28%;
}
#botao{
    background-color: #AEB2F2;
    border: none;
    width: 10%;
    padding: 0.4%;
    border-radius: 3px;
}
#tamMax{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid currentColor;

}