@font-face {
    font-family: 'moderan';
    src: url('midia/Moderan\ Font\ Download.ttf') format('truetype');
}

body{
    background-image: linear-gradient(to right, #3866F2, #C225FF);
    height: 100%;
    cursor: default;

}
#checker{
    font: italic 180% 'Moderan';

}
a{
    color: white;
    font: italic 100% 'Arial', sans-serif;;
}
#h1{
    font: bold 170% 'Mandali', sans-serif;
}
label{
    color: white;
    font: italic 100% 'Arial', sans-serif;;
}
#checa{
    display: none;
}
#compara{
    display: none;
}
header{
    text-align: center;
}
a:link 
{ 
 text-decoration:none; 
} 
main{
    text-align: center;
}
#fontrodape{
    color: rgb(0, 0, 0);
}
#rodape {   
    font-size: 13px;
    text-align: center;
    width: 100%;
    height: 10%;
    left: 0;
    top: 97%;  
    bottom: 0;  
    display: block;
    position: fixed;
    background-image: linear-gradient(to right, #1F6BFF, #b221eb);
}
#resposta{
    margin: 0;
    margin-bottom: 0.5vw;
}
.git {
    position: absolute;
    width: 15px;
    transition: 0.8s;
}
.git:hover {
    opacity: 0;
}  
.msg{
    background-color: #AEB2F2;
    border-radius: 0 1em;
    border-color: rgba(0, 0, 0, 0.47);
    border-width: 2px;
}

#botao{
    background-color: #AEB2F2;
    border: none;
    padding: 0.4%;
    border-radius: 3px;
    margin: 10px;
    border-radius: 0 6px;
}
#botao:hover{
    background-color: #ffffff;
    cursor: pointer;
}
#tamMax{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    border-bottom: 1px solid currentColor;
}
#out{
    display: none;
}